{% extends "league_stats/leagueStatsBase.html" %}

{% block leagueStatsHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/league_stats/allScoresPage.css') }}">
<script src="{{ url_for('static', filename='javascript/league_stats/allScoresPage.js') }}"></script>
{% endblock %}


{% block leagueStatContent %}
<div class="tableContainer">
    <table class="table table-fluid compact statsTable" id="all_scores_table">
        <thead>
        <tr>
            <th>Score</th>
            <th>Outcome</th>
            <th>Team For</th>
            <th>Team Against</th>
            <th>Week</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        {% for leagueStat in stats_models %}
        <tr class="backgroundTeamId{{leagueStat.teamFor.teamId}}">
            <td>{{leagueStat.score}}</td>
            <td>{{leagueStat.outcome}}</td>
            <td>{{leagueStat.teamFor.teamName}}</td>
            <td>{{leagueStat.teamAgainst.teamName}}</td>
            <td>{{leagueStat.week}}</td>
            <td>{{leagueStat.year}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    initializeTable();



</script>
{% endblock %}