{% extends "league_stats/leagueStatsBase.html" %}

{% block leagueStatsHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/league_stats/leagueAveragesPage.css') }}">
<script src="{{ url_for('static', filename='javascript/league_stats/leagueAveragesPage.js') }}"></script>
{% endblock %}


{% block leagueStatContent %}
<div class="averageBlocksContainer">
    {% for leagueStat in stats_models.keys() %}
    <div class="averageBlock">
        <div class="averageBlockTitle">{{leagueStat}}</div>
        <hr class="statTitleLine">
        <div class="averageBlockContent">{{stats_models[leagueStat]}}</div>
    </div>
    {% endfor %}
</div>
<script>
    makeLeagueAveragesSquareCss();

</script>
{% endblock %}
