{% extends "league_stats/leagueStatsBase.html" %}
{% from "league_stats/macros/leagueAverages.html" import averageBlock %}

{% block leagueStatsHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/league_stats/leagueAveragesPage.css') }}">
<script src="{{ url_for('static', filename='javascript/league_stats/leagueAveragesPage.js') }}"></script>
{% endblock %}


{% block leagueStatContent %}
<div class="averageBlocksContainer">
    {% for leagueStat in stats_models.keys() %}
    {{averageBlock(leagueStat, stats_models)}}
    {% endfor %}
</div>
<script>
    makeLeagueAveragesSquareCss();

</script>
{% endblock %}
