{% extends "league_stats/leagueStatsBase.html" %}

{% block leagueStatsHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/league_stats/losingStreaksPage.css') }}">
<script src="{{ url_for('static', filename='javascript/league_stats/losingStreaksPage.js') }}"></script>
{% endblock %}


{% block leagueStatContent %}
<div class="tableContainer">
    <table class="table table-fluid statsTable compact" id="streaks_table">
        <thead>
        <tr>
            <th>Streak</th>
            <th>Owner</th>
            <th>Start Date</th>
            <th>Start Team</th>
            <th>End Date</th>
            <th>End Team</th>
            <th>Ongoing</th>
        </tr>
        </thead>
        <tbody>
        {% for leagueStat in stats_models %}
        <tr class="backgroundTeamId{{leagueStat.getOwner().getTeamId()}}">
            <td>{{leagueStat.getStreakNumber()}}</td>
            <td>{{leagueStat.getOwner().getTeamName()}}</td>
            <td>{{leagueStat.getStartDate()}}</td>
            <td>{{leagueStat.getStartTeam().getTeamName()}}</td>
            <td>{{leagueStat.getEndDate()}}</td>
            <td>{{leagueStat.getEndTeam().getTeamName()}}</td>
            {% if leagueStat.getOngoing() %}
            <td><i class="fas fa-check"></i></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    initializeTable();

</script>
{% endblock %}