{% extends "league_stats/leagueStatsBase.html" %}

{% block leagueStatsHead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/league_stats/winningStreaksPage.css') }}">
<script src="{{ url_for('static', filename='javascript/league_stats/winningStreaksPage.js') }}"></script>
{% endblock %}


{% block leagueStatContent %}
<div class="tableContainer">
    <table class="table table-fluid statsTable compact" id="streaks_table">
        <thead>
        <tr>
            <th>Streak</th>
            <th>Owner</th>
            <th>First Date</th>
            <th>First Team</th>
            <th>Last Date</th>
            <th>Current/Last Team</th>
            <th>Ongoing</th>
        </tr>
        </thead>
        <tbody>
        {% for leagueStat in stats_models %}
        <tr class="backgroundTeamId{{leagueStat.owner.teamId}}">
            <td>{{leagueStat.streakNumber}}</td>
            <td>{{leagueStat.owner.teamName}}</td>
            <td>{{leagueStat.firstDate}}</td>
            <td>{{leagueStat.firstTeam.teamName}}</td>
            <td>{{leagueStat.lastDate}}</td>
            <td>{{leagueStat.lastTeam.teamName}}</td>
            {% if leagueStat.ongoing %}
            <td><i class="fas fa-check"></i></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    initializeTable();




</script>
{% endblock %}