@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.aboutFull {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row:
}

.leftSide {
    width: 50%;
    padding-right: 2rem;
    order: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.rightSide {
    width: 50%;
    padding-left: 2rem;
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.infoBlocksStack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
}

.infoBlock {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.smallTitle {
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif !important;
}

.titleLine {
    width: 40%;
    background-color: #081c15 !important;
    height: 0.1rem !important;
}

.smallParagraph {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.profilePic {
    width: 50%;
}

.supportIcon {
    height: 3rem !important;
}

.noOutline:focus {
    outline: none !important;
}

@media screen and (max-width:750px) {
    /* CSS for screens that are 414 pixels or less will be put in this section */
    .aboutFull {
        flex-direction: column;
    }

    .infoBlocksStack {
        align-items: center;
    }

    .rightSide {
        width: 100%;
        padding-left: 0;
        justify-content: center;
    }

    .leftSide {
        width: 100%;
        padding-right: 0;
        justify-content: center;
    }

    .infoBlock {
        margin-top: 8%;
    }

    .smallTitle {
        font-size: 200%;
    }

    .titleLine {
        width: 80%;
    }
}