@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: block;
}

header {
    width: 100%;
    height: 20%;
    margin-top: 5%;
    position: relative;
    text-align: center;
}

.headerTitles {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pageTitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 450%;
}

.pageSubtitle {
    font-size: 150%;
}

.errorSection {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputSection {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.createLeagueFormStack {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.leagueNameInputForm {
    width: 50% !important;
    height: 2rem;
    font-size: 1.2rem !important;
    order: 1;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberOfTeamsDropdown {
    width: 40%;
    height: 10%;
    order: 2;
}

.createLeagueButton {
    width: 50%;
    height: 25%;
    font-size: 1.5rem !important;
    order: 3;
}



