.leagueIdHidden {
    display: none;
}

.weekHidden {
    display: none;
}

.weekForm {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: blue;
}

.selectWeekDropdown {
    width: 10%;
    height: auto;
    margin: auto;
    text-align: center;
}

.teams {
    width: 40%;
    height: 90%;
    order: 2;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: yellow;
}

.oddTeamForms {
    width: 50%;
    height: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: purple;
}

.evenTeamForms {
    width: 50%;
    height: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: orange;
}

.teamFormsOdd {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.teamFormsEven {
    width: 50%;
    height: auto;
    margin: auto;
}

.oddTeamName {
    width: 50%;
    height: auto;
    order: 1;
}

.oddTeamScore {
    width: 20%;
    height: auto;
    order: 2;
}