.leagueIdHidden {
    display: none;
}

.weekHidden {
    display: none;
}

.yearHidden {
    display: none;
}

.numberOfTeamsHidden {
    display: none;
}

.weekForm {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.selectAndAddWeek {
    width: 100%;
    order: 1;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectWeekDropdown {
    width: 10%;
    height: auto;
    order: 1;
    color: black !important;
}

.addWeekButtonPlus {
    width: 2%;
    height: auto;
    order: 2;
    font-size: 120%;
}

.teams {
    width: 60%;
    order: 2;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 3rem;
}

.oddTeamForms {
    width: 50%;
    height: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5rem !important;
}

.vs {
    width: 10%;
    height: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5rem !important;
}

.vsText {
    width: 100%;
    height: auto;
    font-size: 180%;

}

.evenTeamForms {
    width: 50%;
    height: 100%;
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5rem !important;
}

.teamForms {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.teamFormsOdd {
    justify-content: flex-end;
}

.teamFormsEven {
    justify-content: flex-start;
}

.teamName {
    width: 50%;
    height: auto;
    order: 1;
    color: black !important;
    background-color: white !important;
}

.teamScore {
    width: 5rem !important;
    height: auto;
    text-align: center;
    order: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.actionButtons {
    width: 100%;
    height: 40%;
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.disabled {
    background-color: grey !important;
    border-color: grey !important;
}

.saveChangesButton {
    width: 15%;
    height: 20%;
    font-size: 1.5rem !important;
    order: 1;
    margin: 2%;
}

.deleteWeekButton {
    width: 15%;
    height: 20%;
    font-size: 1.5rem !important;
    order: 3;
    margin: 2%;
}

.updateLeagueButton {
    width: 15%;
    height: 20%;
    font-size: 1.5rem !important;
    order: 2;
    margin: 2%;
}