.leagueIdHidden {
    display: none;
}

.weekForm {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: blue;
}

.selectWeekDropdown {
    width: 10%;
    height: auto;
    margin: auto;
    text-align: center;
}