html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.topSection {
  width: 100%;
  height: 15%;
  background-color: teal;
}

.bottomSection {
  width: 100%;
  height: 100%;
  background-color: red;
}

.pageTitle {
  font-size: 350%;
  text-align: center;
  color: black;
}

.pageSubtitle {
  font-size: 150%;
  text-align: center;
  color: black;
}

.navBar {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: flex-start;
  background-color: grey;
}

.navButtonForm {
    width: 10%;
    height: 100%;
}

.navButton {
  width: 100%;
  height: 100%;
  padding: 0%;
  font-size: 150%;
  background-color: white;
}

