html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.leagueIdHidden {
    display: none;
}

.topSection {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: teal;
}

.bottomSection {
  width: 100%;
  height: 100%;
  background-color: red;
}

.pageTitle {
  font-size: 350%;
  order: 1;
  text-align: center;
  color: black;
}

.pageSubtitle {
  font-size: 150%;
  order: 2;
  text-align: center;
  color: black;
}

.errorSection {
    width: 100%;
    height: 25%;
    order: 3;
    background-color: red;
}

.errorMessage {
    width: 100%;
    height: 100%;
    font-size: 150%;
    text-align: center;
    color: red;
    background-color: pink;
}

.navBar {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-color: grey;
}

.navButton {
  width: 10%;
  height: 100%;
  padding: 0%;
  font-size: 150%;
  background-color: white;
}

