.dropdownSelectionAndGraph {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: blue;
}

.graphDropdown {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    order: 1;
}

.graphDiv {
    display: none;
}

.generatedGraph {
    width: 80%;
    order: 2;
}