.selectionsAndTable {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: green;
}

.teamsAndVs {
    width: 50%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: purple;
}

.team1Dropdown {
    width: auto;
    height: auto;
    order: 1;
}

.vs {
    width: auto;
    height: auto;
    order: 2;
    font-size: 150%;
}

.team2Dropdown {
    width: auto;
    height: auto;
    order: 3;
}

.submitMatchupButton {
    width: 10%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    order: 2;
}