.selectionsAndTable {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.teamsAndVs {
    width: 50%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.teamSelectButton {
    color: black !important;
}

.team1Dropdown {
    width: auto;
    height: auto;
    order: 1;
}

.vs {
    width: auto;
    height: auto;
    order: 2;
    font-size: 150%;
}

.team2Dropdown {
    width: auto;
    height: auto;
    order: 3;
}

.statsTable {
    width: 95%;
    order: 2;
    font-size: 120%;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.statsTable th {
    background-color: #a3a3a3;
    cursor: pointer;
}

.statsTable td {
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statsTable tr {
    background-color: #ffffff;
}

.statsTable tr:hover {
    background-color: #f5f5f5;
}

.statsTable tr:nth-child(even) {
    background-color: #d4d4d4;
}

.statsTable, th, td {
    border: 2px solid black;
}

.teamsDontPlayDisplay {
    width: 100%;
    height: auto;
    order: 4;
    text-align: center;
}