.selectionsAndTable {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.yearDropdown {
    order: 1;
    padding-bottom: 1rem;
}

.teamsAndVs {
    width: 50%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.teamSelectButton {
    color: black !important;
}

#team1Dropdown {
    width: auto;
    height: auto;
    order: 1;
}

#vs {
    width: auto;
    height: auto;
    order: 2;
    font-size: 150%;
    text-align: center;
}

#team2Dropdown {
    width: auto;
    height: auto;
    order: 3;
}

.statsTable {
    width: 95%;
    order: 3;
    font-size: 120%;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.statsTable th {
    background-color: #a3a3a3;
    cursor: pointer;
}

.statsTable td {
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statsTable tr {
    background-color: #ffffff;
}

.statsTable tr:hover {
    background-color: #f5f5f5;
}

.statsTable tr:nth-child(even) {
    background-color: #d4d4d4;
}

.statsTable, th, td {
    border: 2px solid black;
}

table, th, td {
  border: 1px solid black !important;
}

.mobileTableSection {
    width: 100%;
    height: 100%;
    order: 3;
    display: flex;
    display: none;
    flex-direction: column;
    margin-top: 5%;
}

.mobileRow {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid;
}

.team1ValueMobile {
    width: 33.3%;
    order: 1;
    text-align: right;
    padding-right: 2%;
}

.headerValueMobile {
    width: 33.3%;
    height: 100%;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #ddd;
}

.team2ValueMobile {
    width: 33.3%;
    order: 3;
    text-align: left;
    padding-left: 2%;
}


@media screen and (max-width:414px) {
    /* CSS for screens that are 414 pixels or less will be put in this section */
    .teamsAndVs {
        width: 100%;
    }

    #team1Dropdown {
        width: 25%;
    }

    #vs {
        width: 10%;
    }

    #team2Dropdown {
        width: 25%;
    }

    .teamSelectButton {
        width: 100% !important;
    }

    #headToHeadTable {
        display: none;
    }

    .mobileTableSection {
        display: flex;
    }
}