.buttonStack {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: blue;
}

.leagueStatsForm {
    width: 100%;
    height: 15%;
    order: 1;
    text-align: center;
}

.teamStatsForm {
    width: 100%;
    height: 15%;
    order: 2;
    text-align: center;
}

.updateLeagueForm {
    width: 100%;
    height: 15%;
    order: 3;
    text-align: center;
}

.stackButton {
    width: 10%;
    height: 100%;
    font-size: 120%;
    background-color: white;
}

.copyUrlForm {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: grey;
}

.urlForm {
    width: 20%;
    margin-right: 0.25%;
}

.copyUrlButton {
    width: 5%;
    background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}