@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

.link {
    cursor: pointer;
    text-decoration: underline;
}

.purposeDivHidden {
    display: none;
}

.formulaDivHidden {
    display: none;
}

.formulaExplainedDivHidden {
    display: none;
}

.dropdownSelectionAndContent {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.statDropdown {
    order: 1;
}

.chunkMaster {
    width: 70%;
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.chunkHeader {
    order: 1;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 250%;
}

.chunkBody {
    margin-top: 1%;
    line-height: 150%;
    order: 2;
    font-family: 'Merriweather', serif;
    font-size: 110%;
}

#purposeMaster {
    order: 2;
}

#formulaMaster {
    order: 3;
}

#formulaExplainedMaster {
    order: 4;
}

#formulaBody {
    font-family: 'Nanum Myeongjo', serif;
}