@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

.link {
    cursor: pointer;
    text-decoration: underline;
}

.purposeDivHidden {
    display: none;
}

.formulaDivHidden {
    display: none;
}

.formulaExplainedDivHidden {
    display: none;
}

.dropdownSelectionAndContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.statDropdown {
    order: 1;
}

.chunkMaster {
    width: 70%;
    margin-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.chunkHeader {
    order: 1;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 250%;
}

.chunkBody {
    line-height: 150%;
    order: 3;
    font-family: 'Merriweather', serif;
    font-size: 110%;
}

#purposeMaster {
    order: 2;
}

#formulaMaster {
    order: 3;
}

#formulaExplainedMaster {
    order: 4;
}

#formulaBody {
    font-family: 'Nanum Myeongjo', serif;
}

.statTitleLine {
    order: 2;
    width: 40%;
    background-color: #081c15 !important;
    height: 0.1rem !important;
}

.mobilePadding {
    min-height: 20%;
    display: none;
}

@media screen and (max-width:414px) {
    /* CSS for screens that are 414 pixels or less will be put in this section */
    .chunkMaster {
        width: 80%;
        margin-top: 8%;
    }

    .chunkHeader {
        font-size: 200%;
    }

    .statTitleLine {
        width: 80%;
    }

    .chunkBody {
        font-size: 80%;
    }

    .mobilePadding {
        display: flex;
    }
}