/*
This holds the colors used to represent each team in a league.

1. #FF7575 (Light Red)
2. #FFBA75 (Light Orange)
3. #FFFF75 (Light Yellow)
4. #43FC43 (Dark Lime Green)
5. #75FFBA (Light Teal)
6. #75C9FF (Light Blue)
7. #AB75FF (Light Purple)
8. #FF75C9 (Light Pink)
9. #7584FF (Blue)
10. #FF46F4 (Light Hot Pink)
11. #FB6248 (Red)
12. #FB8F48 (Orange)
13. #FBE848 (Yellow)
14. #BAFF75 (Light Green)
15. #2CFFCA (Mid Blue)
16. #2CFF95 (Teal)
*/

.backgroundTeamId1 {
    background-color: #FF7575 !important;
}

.backgroundTeamId2 {
    background-color: #FFBA75 !important;
}

.backgroundTeamId3 {
    background-color: #FFFF75 !important;
}

.backgroundTeamId4 {
    background-color: #43FC43 !important;
}

.backgroundTeamId5 {
    background-color: #75FFBA !important;
}

.backgroundTeamId6 {
    background-color: #75C9FF !important;
}

.backgroundTeamId7 {
    background-color: #AB75FF !important;
}

.backgroundTeamId8 {
    background-color: #FF75C9 !important;
}

.backgroundTeamId9 {
    background-color: #7584FF !important;
}

.backgroundTeamId10 {
    background-color: #FF46F4 !important;
}

.backgroundTeamId11 {
    background-color: #FB6248 !important;
}

.backgroundTeamId12 {
    background-color: #FB8F48 !important;
}

.backgroundTeamId13 {
    background-color: #FBE848 !important;
}

.backgroundTeamId14 {
    background-color: #BAFF75 !important;
}

.backgroundTeamId15 {
    background-color: #2CFFCA !important;
}

.backgroundTeamId16 {
    background-color: #2CFF95 !important;
}