/*

PALETTE: https://coolors.co/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15

DARKEST COLOR: #081c15

WARNING COLOR: #914053

PRIMARY BACKGROUND COLOR: #40916C
PRIMARY FONT COLOR: WHITE
PRIMARY FONT COLOR HOVER: #95d5b2
SECONDARY FONT COLOR DARK: #081c15
SECONDARY FONT COLOR LIGHT: #95d5b2

BUTTON PRIMARY BACKGROUND COLOR: WHITE
BUTTON PRIMARY BACKGROUND COLOR HOVER: #b7e4c7
BUTTON PRIMARY FONT COLOR: #081c15

BUTTON SECONDARY BACKGROUND COLOR: #914440
BUTTON SECONDARY BACKGROUND COLOR HOVER: #753733
BUTTON SECONDARY FONT COLOR: #081c15

FORM BACKGROUND COLOR: #95d5b2
FORM FONT COLOR: #081c15

OPTION BACKGROUND COLOR: WHITE
OPTION FONT COLOR: #40916C

DROPDOWN ACTIVE BACKGROUND COLOR:

*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.errorMessage {
    font-size: 1.3rem;
    text-align: center;
    color: red;
    background-color: #081c15;
    font-family: 'Noto Sans', sans-serif;
}

button {
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.darkestColor {
    background-color: #081c15 !important;
}

.primaryColor {
    color: #40916C !important;
}

.primaryColorBackground {
    background-color: #40916C !important;
}

.primaryFontColor {
    color: white !important;
}

.primaryFontColorWithHover:hover {
    color: #95d5b2 !important;
}

.secondaryFontColorDark {
    color: #081c15 !important;
}

.secondaryFontColorLight {
    color: #95d5b2 !important;
}

.primaryButtonColors {
    background-color: white !important;
    border-color: white !important;
    color: #081c15 !important;
}

.primaryButtonColors:hover {
    background-color: #b7e4c7 !important
}

.primaryButtonColors:focus {
    box-shadow: 0px 0px 0px white, 0px 0px 4px #40916C inset !important;
}

.secondaryButtonColors {
    color: #081c15 !important;
    background-color: #95D5B2 !important;
    border-color: #95D5B2 !important;
}

.secondaryButtonColors:hover {
    background-color: #52B788 !important
}

.secondaryButtonColors:focus {
    box-shadow: 0px 0px 0px white, 0px 0px 4px #40916C inset !important;
    outline: none !important;
}

.secondaryButtonColors:disabled {
    background-color: grey !important;
    border-color: grey !important;
    cursor: default !important;
}

.dangerButtonColors {
    color: white !important;
    background-color: #914053 !important;
    border-color: #914053 !important;
}

.dangerButtonColors:hover {
    background-color: #612a37 !important;
    border-color: #612a37 !important;
}

.primaryFormColors {
    background-color: #95d5b2 !important;
    color: #081c15 !important;
}

.primaryFormColors:focus {
    box-shadow: 0px 0px 0px white, 0px 0px 4px white inset !important;
}

.defaultFormFocus:focus {
    box-shadow: 0px 0px 0px white, 0px 0px 4px white inset !important;
}

.primaryDropdown option {
    background-color: white !important;
    color: #40916C !important;
}

.active {
    background-color: #40916C !important;
}