/*

PALETTE: https://coolors.co/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15

PRIMARY BACKGROUND COLOR: #40916C
PRIMARY FONT COLOR: WHITE
PRIMARY FONT COLOR HOVER: #95d5b2
SECONDARY FONT COLOR DARK: #081c15
SECONDARY FONT COLOR LIGHT: #95d5b2

BUTTON PRIMARY BACKGROUND COLOR: WHITE
BUTTON PRIMARY BACKGROUND COLOR HOVER: #d8f3dc
BUTTON PRIMARY FONT COLOR: #081c15

FORM BACKGROUND COLOR: #95d5b2
FORM FONT COLOR: #081c15

OPTION BACKGROUND COLOR: WHITE
OPTION FONT COLOR: #40916C

*/


.primaryColor {
    color: #40916C !important;
}

.primaryColorBackground {
    background-color: #40916C !important;
}

.primaryFontColor {
    color: white !important;
}

.primaryFontColorWithHover:hover {
    color: #95d5b2 !important;
}

.secondaryFontColorDark {
    color: #081c15 !important;
}

.secondaryFontColorLight {
    color: #95d5b2 !important;
}

.primaryButtonColors {
    background-color: white !important;
    border-color: white !important;
    color: #081c15 !important;
}

.primaryButtonColors:hover {
    background-color: #d8f3dc !important
}

.primaryButtonColors:focus {
    box-shadow: 0px 0px 0px white, 0px 0px 4px #40916C inset !important;
}

.primaryFormColors {
    background-color: #95d5b2 !important;
    color: #081c15 !important;
}

.primaryFormColors:focus {
    box-shadow: 0px 0px 0px white, 0px 0px 4px white inset !important;
}

.primaryDropdown option {
    background-color: white !important;
    color: #40916C !important;
}