.inputsAndButtons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.topForm {
    width: 100%;
    height: 10%;
    order: 1;
    text-align: center;
    background-color: green;
}

.leagueNameForm {
    width: 10%;
    height: auto;
    text-align: center;
}

.leagueIdHidden {
    display: none;
}

.leagueNumberOfTeamsHidden {
    display: none;
}

.middleForms {
    width: 40%;
    height: 50%;
    order: 2;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: yellow;
}

.oddTeamForms {
    width: 50%;
    height: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: purple;
}

.evenTeamForms {
    width: 50%;
    height: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: blue;
}

.teamFormOdd {
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
}

.teamFormEven {
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
}

.bottomButtons {
    width: 100%;
    height: 30%;
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: teal;
}

.addOrUpdateWeekButton {
    width: 10%;
    height: 20%;
    font-size: 120%;
    order: 1;
    margin: auto;
}

.saveChangesButton {
    width: 10%;
    height: 20%;
    font-size: 120%;
    order: 2;
    margin: auto;
}

.deleteLeagueButton {
    width: 10%;
    height: 20%;
    font-size: 120%;
    order: 3;
    margin: auto;
}