/* hard-coding styles for league stat table */

#all_scores_table_length.dataTables_length {
    background-color: transparent !important;
}

#all_scores_table_filter.dataTables_filter {
    background-color: transparent !important;
}

#all_scores_table_info.dataTables_info {
    background-color: transparent !important;
}

#all_scores_table_paginate.dataTables_paginate.paging_simple_numbers {
    background-color: transparent !important;
}


