.numberOfPagesHidden {
    display: none;
}

.dropdownSelectionAndTable {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdowns {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leagueStatBottomSection {
    order: 2;
}

.yearDropdown {
    order: 1;
}

.statDropdown {
    order: 2;
}

.pageNavigationBar {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    order: 2;
}

.tableContainer {
    width: 100%;
    height: auto;
    order: 3;
    display: flex;
    justify-content: center;
}

.dataTables_wrapper {
    width: 95% !important;
}

.statsTable {
    width: 95%;
    height: 100%;
    order: 1;
    font-size: 120%;
    border-collapse: collapse;
    text-align: center;
}

.statsTable th {
    background-color: #a3a3a3;
    cursor: pointer;
}

.statsTable td {
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statsTable tr:hover {
    background-color: #f5f5f5;
}

.statsTable tr:nth-child(even) {
    background-color: #d4d4d4;
}

.statsTable tr:nth-child(odd) {
    background-color: #ffffff;
}

.statsTable, th, td {
    border: 2px solid black;
}

table, th, td {
  border: 1px solid black !important;
}


/* hard-coding styles for all league stat tables */

#streaks_table_length.dataTables_length {
    background-color: transparent !important;
}

#streaks_table_filter.dataTables_filter {
    background-color: transparent !important;
}

#streaks_table_info.dataTables_info {
    background-color: transparent !important;
}

#streaks_table_paginate.dataTables_paginate.paging_simple_numbers {
    background-color: transparent !important;
}
