{% extends "base.html" %}

{% block head %}
<title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutPage.css') }}">
<script src="{{ url_for('static', filename='javascript/aboutPage.js') }}"></script>
 <!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
<!-- venmo icon -->
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-info-circle"></i> About{% endblock %}

{% block pageSubtitle %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div class="aboutFull">

 <div class="leftSide">
  <img class="profilePic" src="{{ url_for('static', filename='img/profilePic.jpg') }}" alt="Profile picture of site creator.">
 </div>

  <div class="rightSide">
   <div class="infoBlocksStack">
    <div class="infoBlock">
      <div class="smallTitle">About Me</div>
      <hr class="titleLine">
      <div class="smallParagraph">
       My name is Joey and I'm a software developer from the United States.
       <br><br>
       I tend to let fantasy football break my heart year after year, so I figured why not develop an easy way to see some advanced stats during the season to add to the pain?
       <br><br>
       If you like the site and want to contribute, feel free to submit a PR to the GitHub project (linked below) and of course any donation is appreciated!
      </div>
    </div>

    <div class="infoBlock">
     <div class="smallTitle">Other Projects</div>
     <hr class="titleLine">
     <div class="smallParagraph">
      <button class="hoverFade noOutline" type="button" onclick="githubRedirect()"><img class="supportIcon" src="https://img.icons8.com/ios-filled/500/000000/github.png"/></button>
     </div>
    </div>

    <div class="infoBlock">
     <div class="smallTitle">Support</div>
     <hr class="titleLine">
     <div class="smallParagraph">
      <button class="hoverFade noOutline" type="button" onclick="paypalRedirect()"><img class="supportIcon" src="https://img.icons8.com/ios-filled/48/000000/paypal.png"/></button>
      <button class="hoverFade noOutline" type="button" onclick="venmoRedirect()"><img class="supportIcon" src="https://img.icons8.com/ios-filled/500/000000/venmo.png"></button>
     </div>
    </div>
   </div>

 </div>
</div>
{% endblock %}