<!DOCTYPE html>
<html>
    <head>
        <title>Add Your League</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/addLeaguePage.css') }}">
    </head>

    <body>
        <header>
            <div class="headerTitles">
                <div class="pageTitle">Add Your League</div>
                <div class="pageSubtitle"></div>
            </div>
        </header>

        <div class="errorSection">
            <div class="errorMessage">{{error_message}}</div>
        </div>

        <div class="inputSection">
            <form class="createLeagueFormStack" action="/add-league" method="POST">
                <input class="leagueNameInputForm" type="text" name="league_name" id="league_name" placeholder="League Name" required maxlength="30">
                <select class="numberOfTeamsDropdown"id="number_of_teams" name="number_of_teams">
                    <option value="6" selected>6 Teams</option>
                    <option value="8">8 Teams</option>
                    <option value="10">10 Teams</option>
                    <option value="12">12 Teams</option>
                    <option value="14">14 Teams</option>
                    <option value="16">16 Teams</option>
                </select>
                <button class="createLeagueButton" type="submit">Create League</button>
            </form>

        </div>
    </body>

</html>