{% extends "base.html" %}

{% block head %}
<title>Add/Update Weeks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/addUpdateWeeksPage.css') }}">
<script src="{{ url_for('static', filename='javascript/addUpdateWeeksPage.js') }}"></script>
{% endblock %}

{% block pageTitle %}Add/Update Weeks{% endblock %}

{% block pageSubtitle %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<form class="weekForm">
    <input class="leagueIdHidden" type="number" name="league_id" id="league_id" value="{{league._id}}">
    <input class="weekHidden" type="number" name="week_number" id="week_number" value="{{week_number}}">
    <select class="selectWeekDropdown">
        {% for week in league.weeks %}
            {% if week.weekNumber == 1 %}
                <option value="{{week.weekNumber}}" selected>Week {{week.weekNumber}}</option>
            {% else %}
                <option value="{{week.weekNumber}}">Week {{week.weekNumber}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <div class="teams">
        <div class="oddTeamForms">
            {% for week in league.weeks if week.weekNumber == week_number %}
                    {% for matchup in week.matchups %}
                        <div class="teamFormsOdd">
                            <select class="oddTeamName">
                                {% if matchup.matchupId == loop.index %}
                                    <option name="team_{{matchup.teamA.teamId}}" id="team_{{matchup.teamA.teamId}}" selected>{{matchup.teamA.teamName}}</option>
                                {% endif %}
                                {% for team in league.teams %}
                                    {% if team.teamId != matchup.teamA.teamId %}
                                        <option name="team_{{team.teamId}}" id="team_{{team.teamId}}">{{team.teamName}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if matchup.matchupId == loop.index %}
                                <input class="oddTeamScore" type="number" value="{{matchup.teamAScore}}">
                            {% endif %}
                        </div>
                    {% endfor %}
            {% endfor %}
        </div>

        <div class="evenTeamForms">
            {% for week in league.weeks if week.weekNumber == week_number %}
                    {% for matchup in week.matchups %}
                        <div class="teamFormsEven">
                            <select class="evenTeamName">
                                {% if matchup.matchupId == loop.index %}
                                    <option name="team_{{matchup.teamB.teamId}}" id="team_{{matchup.teamB.teamId}}" selected>{{matchup.teamB.teamName}}</option>
                                {% endif %}
                                {% for team in league.teams %}
                                    {% if team.teamId != matchup.teamB.teamId %}
                                        <option name="team_{{team.teamId}}" id="team_{{team.teamId}}">{{team.teamName}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if matchup.matchupId == loop.index %}
                                <input class="evenTeamScore" type="number" value="{{matchup.teamBScore}}">
                            {% endif %}
                        </div>
                    {% endfor %}
            {% endfor %}
        </div>
    </div>


</form>

{% endblock %}