{% extends "base.html" %}

{% block head %}
<title>Add/Update Weeks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/addUpdateWeeksPage.css') }}">
<script src="{{ url_for('static', filename='javascript/addUpdateWeeksPage.js') }}"></script>
 <!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-edit"></i> Add/Update Weeks{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<form class="weekForm" action="/update-week" method="POST">
    <input class="leagueIdHidden" type="number" name="league_id" id="league_id" value="{{league._id}}">
    <input class="weekHidden" type="number" name="week_number" id="week_number" value="{{week_number}}">
    <div class="selectAndAddWeek">
        <select class="selectWeekDropdown" id="select_week_dropdown" onchange="updateWeekDropdown();">
            {% for week in league.weeks %}
                {% if week.weekNumber == week_number %}
                    <option value="{{week.weekNumber}}" selected>Week {{week.weekNumber}}</option>
                {% else %}
                    <option value="{{week.weekNumber}}">Week {{week.weekNumber}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button class="addWeekButtonPlus" type="button" onclick="addWeek()"><i class="fas fa-plus"></i></button>
    </div>
    <div class="teams">
        <div class="oddTeamForms">
            {% for week in league.weeks if week.weekNumber == week_number %}
                {% for matchup in week.matchups %}
                    <div class="teamFormsOdd">
                        <select class="oddTeamName" name="teamAId_matchup_{{loop.index}}" id="teamAId_matchup_{{loop.index}}" onchange="changeMade()">
                            {% if matchup.matchupId == loop.index %}
                                <option value="{{matchup.teamA.teamId}}" selected>{{matchup.teamA.teamName}}</option>
                            {% endif %}
                            {% for team in league.teams %}
                                {% if team.teamId != matchup.teamA.teamId %}
                                    <option value="{{team.teamId}}">{{team.teamName}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if matchup.matchupId == loop.index %}
                            <input class="oddTeamScore" name="teamAScore_matchup_{{loop.index}}" id="teamAScore_matchup_{{loop.index}}" type="number" value="{{matchup.teamAScore}}" placeholder="Score" min="0" step=".01" required autocomplete="off" onchange="changeMade()">
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="vs">
            {% for week in league.weeks if week.weekNumber == week_number %}
                {% for matchup in week.matchups %}
                    <div class="vsText">vs</div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="evenTeamForms">
            {% for week in league.weeks if week.weekNumber == week_number %}
                {% for matchup in week.matchups %}
                    <div class="teamFormsEven">
                        <select class="evenTeamName" name="teamBId_matchup_{{loop.index}}" id="teamBId_matchup_{{loop.index}}" onchange="changeMade()">
                            {% if matchup.matchupId == loop.index %}
                                <option value="{{matchup.teamB.teamId}}" selected>{{matchup.teamB.teamName}}</option>
                            {% endif %}
                            {% for team in league.teams %}
                                {% if team.teamId != matchup.teamB.teamId %}
                                    <option value="{{team.teamId}}">{{team.teamName}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if matchup.matchupId == loop.index %}
                            <input class="evenTeamScore" name="teamBScore_matchup_{{loop.index}}" id="teamBScore_matchup_{{loop.index}}" type="number" value="{{matchup.teamBScore}}" placeholder="Score" min="0" step=".01" required autocomplete="off" onchange="changeMade()">
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="actionButtons">
        <button class="saveChangesButton btn btn-warning disabled" id="saveChangesButton" type="submit"><i class="fas fa-save"></i> Save Changes</button>
        <button class="deleteWeekButton btn btn-danger" type="button" onclick="deleteWeek()"><i class="fas fa-trash-alt"></i> Delete Week</button>
    </div>
</form>
<script>clearChanges()</script>
{% endblock %}