{% extends "base.html" %}

{% block head %}
<title>Add/Update Weeks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/addUpdateWeeksPage.css') }}">
<script src="{{ url_for('static', filename='javascript/addUpdateWeeksPage.js') }}"></script>
{% endblock %}

{% block pageTitle %}Add/Update Weeks{% endblock %}

{% block pageSubtitle %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<form class="weekForm" action="/update-week" method="POST">
    <input class="leagueIdHidden" type="number" name="league_id" id="league_id" value="{{league._id}}">
    <input class="weekHidden" type="number" name="week_number" id="week_number" value="{{week_number}}">
    <div class="selectAndAddWeek">
        <select class="selectWeekDropdown" id="select_week_dropdown" onchange="updateWeekDropdown();">
            {% for week in league.weeks %}
                {% if week.weekNumber == week_number %}
                    <option value="{{week.weekNumber}}" selected>Week {{week.weekNumber}}</option>
                {% else %}
                    <option value="{{week.weekNumber}}">Week {{week.weekNumber}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button class="addWeekButtonPlus" type="button" onclick="addWeek()">+</button>
    </div>
    <div class="teams">
        <div class="oddTeamForms">
            {% for week in league.weeks if week.weekNumber == week_number %}
                {% for matchup in week.matchups %}
                    <div class="teamFormsOdd">
                        <select class="oddTeamName" name="teamAId_matchup_{{loop.index}}" id="teamAId_matchup_{{loop.index}}">
                            {% if matchup.matchupId == loop.index %}
                                <option value="{{matchup.teamA.teamId}}" selected>{{matchup.teamA.teamName}}</option>
                            {% endif %}
                            {% for team in league.teams %}
                                {% if team.teamId != matchup.teamA.teamId %}
                                    <option value="{{team.teamId}}">{{team.teamName}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if matchup.matchupId == loop.index %}
                            <input class="oddTeamScore" name="teamAScore_matchup_{{loop.index}}" id="teamAScore_matchup_{{loop.index}}" type="number" value="{{matchup.teamAScore}}" placeholder="Score" min="0" step=".01" required>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="vs">
            {% for week in league.weeks if week.weekNumber == week_number %}
                {% for matchup in week.matchups %}
                    <div class="vsText">vs</div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="evenTeamForms">
            {% for week in league.weeks if week.weekNumber == week_number %}
                {% for matchup in week.matchups %}
                    <div class="teamFormsEven">
                        <select class="evenTeamName" name="teamBId_matchup_{{loop.index}}" id="teamBId_matchup_{{loop.index}}">
                            {% if matchup.matchupId == loop.index %}
                                <option value="{{matchup.teamB.teamId}}" selected>{{matchup.teamB.teamName}}</option>
                            {% endif %}
                            {% for team in league.teams %}
                                {% if team.teamId != matchup.teamB.teamId %}
                                    <option value="{{team.teamId}}">{{team.teamName}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if matchup.matchupId == loop.index %}
                            <input class="evenTeamScore" name="teamBScore_matchup_{{loop.index}}" id="teamBScore_matchup_{{loop.index}}" type="number" value="{{matchup.teamBScore}}" placeholder="Score" min="0" step=".01" required>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="actionButtons">
        <button class="saveChangesButton" type="submit">Save Changes</button>
        <button class="deleteWeekButton" type="button" onclick="deleteWeek()">Delete Week</button>
    </div>
</form>

{% endblock %}