<!DOCTYPE html>
<html>

  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock %}
  </head>

  <body>

    <header>
      {% block header %}{% endblock %}
    </header>

    <div class="navBar">
      <button class="navButton" action="/" type="button">
        <div class="navButtonText">Home</div>
      </button>
    </div>

    <div class="topSection">
      <div class="pageTitle">FF WEB APP</div>
      <div class="pageSubtitle">{{subtitle}}</div>
    </div>

    <div class="bottomSection">
      {% block content %}{% endblock %}
    </div>

  </body>

</html>
