<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    {% endblock %}
  </head>

  <body>

    <header>
      {% block header %}{% endblock %}
    </header>

    <div class="navBar">
      <form class="navButtonForm" action="http://127.0.0.1:5000">
        <button class="navButton" type="submit">Home</button>
      </form>
    </div>

    <div class="topSection">
      <div class="pageTitle">{% block pageTitle %}{% endblock %}</div>
      <div class="pageSubtitle">{% block pageSubtitle %}{% endblock %}</div>
    </div>

    <div class="bottomSection">
      {% block content %}{% endblock %}
    </div>

  </body>

</html>
