<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='javascript/base.js') }}"></script>
    {% block head %}
    {% endblock %}
  </head>

  <body>

    <header>
      {% block header %}{% endblock %}
      <input class="leagueIdHidden" type="number" name="league_id" id="league_id" value="{{league._id}}">
    </header>

    <div class="navBar">
      <button class="navButton mainButton" type="button" onclick="homeRedirect()">Leeger.io</button>
      <button class="navButton" type="button" onclick="leagueHomepageRedirect()">League Homepage</button>
    </div>

    <div class="topSection">
      <div class="pageTitle">{% block pageTitle %}{% endblock %}</div>
      <div class="pageSubtitle">{% block pageSubtitle %}{% endblock %}</div>
      <div class="errorSection">
            <div class="errorMessage">{{error_message}}</div>
        </div>
    </div>

    <div class="bottomSection">
      {% block content %}{% endblock %}
    </div>

  </body>

</html>
