{% extends "base.html" %}

{% block head %}
<title>Graphs</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphsPage.css') }}">
<script src="{{ url_for('static', filename='javascript/graphsPage.js') }}"></script>
<!-- script to help injected HTML display-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- jquery script -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
{% endblock %}

{% block pageTitle %}Graphs{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="dropdownSelectionAndGraph">
        <div class="graphDropdown">
            <select class="graphNameDropdown" name="graph_name" id="graph_name" onchange="submitGraph()">
                {% for graph in graph_options %}
                    {% if graph == selected_graph %}
                        <option value="{{graph}}" selected>{{graph}}</option>
                    {% else %}
                        <option value="{{graph}}">{{graph}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="graphDiv" id="graphDiv">
            {{graph_div}}
            <!-- the only purpose of this div is to hold the div we will be injecting as a string for Javascript to extract -->
        </div>

        <div class="generatedGraph" id="generatedGraph">
        <!-- an HTML Div with the selected graph will be inserted here -->
        </div>

        {% if graph_div %}
            <!-- this script will run only if a div was given on load of this page-->
            <script type="text/javascript">injectGraphAsDiv();</script>
        {% endif %}
    </div>
{% endblock %}