{% extends "base.html" %}

{% block head %}
<title>Graphs</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphsPage.css') }}">
<script src="{{ url_for('static', filename='javascript/graphsPage.js') }}"></script>
<!-- script to help injected HTML display-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- jquery script -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
 <!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-chart-bar"></i> Graphs{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="dropdownSelectionAndGraph">
        <div class="dropdowns">
            <div class="yearDropdown">
                <button class="btn btn-secondary dropdown-toggle primaryButtonColors" id="selectYearButton" type="button" value="{{selected_year}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if selected_year == '0' %}
                        All Time
                    {% else %}
                        {{selected_year}}
                    {% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for year in league.years.keys()|sort %}
                        {% if year == selected_year|string %}
                            {% if selected_year == '0' %}
                                <a class="dropdown-item active" href="#" onclick="submitYearAndGraph({{selected_year}}, null)">All Time</a>
                            {% else %}
                                <a class="dropdown-item active" href="#" onclick="submitYearAndGraph({{selected_year}}, null)">{{selected_year}}</a>
                            {% endif %}
                        {% elif year == '0' %}
                            <a class="dropdown-item" href="#" onclick="submitYearAndGraph({{year}}, null)">All Time</a>
                        {% elif league.years[year].weeks|length > 0 %}
                            <a class="dropdown-item" href="#" onclick="submitYearAndGraph({{year}}, null)">{{year}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="graphDropdown">
                <button class="btn btn-secondary dropdown-toggle primaryButtonColors" type="button" id="selected_graph_button" value="{{selected_graph}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selected_graph}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for graph in graph_options %}
                        {% if graph == selected_graph %}
                            <a class="dropdown-item active" href="#" onclick="submitYearAndGraph(null, '{{graph}}')">{{graph}}</a>
                        {% else %}
                            <a class="dropdown-item" href="#" onclick="submitYearAndGraph(null, '{{graph}}')">{{graph}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="graphDiv" id="graphDiv">
            {{graph_div}}
            <!-- the only purpose of this div is to hold the div we will be injecting as a string for Javascript to extract -->
        </div>

        <div class="generatedGraph" id="generatedGraph">
        <!-- an HTML Div with the selected graph will be inserted here -->
        </div>

        {% if graph_div %}
            <!-- this script will run only if a div was given on load of this page-->
            <script type="text/javascript">injectGraphAsDiv();</script>
        {% endif %}
    </div>
{% endblock %}