{% extends "base.html" %}

{% block head %}
<title>Team Stats</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/headToHeadStatsPage.css') }}">
<script src="{{ url_for('static', filename='javascript/headToHeadStatsPage.js') }}"></script>
<!--Script for sorting a table with class "sortable"-->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}

{% block pageTitle %}Head to Head Stats{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="selectionsAndTable">
        <div class="teamsAndVs">
            <div class="team1Dropdown">
                <select class="team1Name" name="team1Id" id="team1Id">
                    {% for team in league.teams %}
                        {% if team.teamId == givenTeam1Id %}
                            <option value="{{team.teamId}}" selected>{{team.teamName}}</option>
                        {% else %}
                            <option value="{{team.teamId}}">{{team.teamName}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="vs">VS</div>
            <div class="team2Dropdown">
                <select class="team2Name" name="team2Id" id="team2Id">
                    {% for team in league.teams %}
                        {% if team.teamId == givenTeam2Id %}
                            <option value="{{team.teamId}}" selected>{{team.teamName}}</option>
                        {% else %}
                            <option value="{{team.teamId}}">{{team.teamName}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class="submitMatchupButton" type="button" onclick="getHeadToHeadTable();">Get Matchup Stats</button>
        <div class="headToHeadTable">
            {% if givenTeam1Id and givenTeam2Id %}
            <p>{{givenTeam1Id}}</p>
            <p>{{givenTeam2Id}}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}