{% extends "base.html" %}

{% block head %}
<title>Head to Head Stats</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/headToHeadStatsPage.css') }}">
<script src="{{ url_for('static', filename='javascript/headToHeadStatsPage.js') }}"></script>
<!--Script for sorting a table with class "sortable"-->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-user-friends"></i> Head to Head Stats{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="selectionsAndTable">
        <div class="teamsAndVs">
            <div class="team1Dropdown">
                <select class="team1Name" name="team1Id" id="team1Id" onchange="getHeadToHeadTable();">
                    {% for team in league.teams %}
                        {% if team.teamId == given_team_1_id %}
                            <option value="{{team.teamId}}" selected>{{team.teamName}}</option>
                        {% else %}
                            {% if not given_team_1_id %}
                                <!--no ids given, exclude ID # 2 from this dropdown by default-->
                                {% if team.teamId != 2 %}
                                    <option value="{{team.teamId}}">{{team.teamName}}</option>
                                {% endif %}
                            {% else %}
                                <!--ids given, exclude givenTeam2Id from this dropdown-->
                                {% if team.teamId != given_team_2_id %}
                                    <option value="{{team.teamId}}">{{team.teamName}}</option>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="vs">VS</div>
            <div class="team2Dropdown">
                <select class="team2Name" name="team2Id" id="team2Id" onchange="getHeadToHeadTable();">
                    {% for team in league.teams %}
                        {% if team.teamId == given_team_2_id %}
                            <option value="{{team.teamId}}" selected>{{team.teamName}}</option>
                        {% else %}
                            {% if not given_team_2_id %}
                                <!--no ids given, exclude ID # 1 from this dropdown by default-->
                                {% if team.teamId != 1 %}
                                    <option value="{{team.teamId}}">{{team.teamName}}</option>
                                {% endif %}
                            {% else %}
                                <!--ids given, exclude givenTeam1Id from this dropdown-->
                                {% if team.teamId != given_team_1_id %}
                                    <option value="{{team.teamId}}">{{team.teamName}}</option>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if stats_models %}
            <table class="sortable statsTable">
                <thead>
                <tr>
                    <th>Team Name</th>
                    <th>{{constants.WINS_STAT_TITLE}}</th>
                    <th>{{constants.LOSSES_STAT_TITLE}}</th>
                    <th>{{constants.TIES_STAT_TITLE}}</th>
                    <th>{{constants.WIN_PERCENTAGE_STAT_TITLE}}</th>
                    <th>{{constants.WAL_STAT_TITLE}}</th>
                    <th>{{constants.AWAL_STAT_TITLE}}</th>
                    <th>{{constants.SMART_WINS_STAT_TITLE}}</th>
                    <th>{{constants.PPG_STAT_TITLE}}</th>
                    <th>{{constants.SCORING_SHARE_STAT_TITLE}}</th>
                    <th>{{constants.PLUS_MINUS_STAT_TITLE}}</th>
                    <th>{{constants.MAX_SCORE_STAT_TITLE}}</th>
                    <th>{{constants.MIN_SCORE_STAT_TITLE}}</th>
                    <th>{{constants.STDEV_STAT_TITLE}}</th>
                    <th>{{constants.TEAM_SCORE_STAT_TITLE}}</th>
                    <th>{{constants.TEAM_SUCCESS_STAT_TITLE}}</th>
                    <th>{{constants.TEAM_LUCK_STAT_TITLE}}</th>
                </tr>
                </thead>
                <tbody>
                {% for teamStats in stats_models %}
                <tr class="backgroundTeamId{{teamStats.getTeamId()}}">
                    <td>{{teamStats.getTeamName()}}</td>
                    <td>{{teamStats.getWins()}}</td>
                    <td>{{teamStats.getLosses()}}</td>
                    <td>{{teamStats.getTies()}}</td>
                    <td>{{teamStats.getWinPercentage()}}</td>
                    <td>{{teamStats.getWal()}}</td>
                    <td>{{teamStats.getAwal()}}</td>
                    <td>{{teamStats.getSmartWins()}}</td>
                    <td>{{teamStats.getPpg()}}</td>
                    <td>{{teamStats.getPercentageOfLeagueScoring()}}</td>
                    <td>{{teamStats.getPlusMinus()}}</td>
                    <td>{{teamStats.getMaxScore()}}</td>
                    <td>{{teamStats.getMinScore()}}</td>
                    <td>{{teamStats.getStddev()}}</td>
                    <td>{{teamStats.getTeamScore()}}</td>
                    <td>{{teamStats.getTeamSuccess()}}</td>
                    <td>{{teamStats.getTeamLuck()}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if teams_dont_play %}
            <div class="teamsDontPlayDisplay">These Teams Do Not Play Each Other.</div>
        {% endif %}
    </div>
{% endblock %}