{% extends "base.html" %}

{% block head %}
<title>Head to Head Stats</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/headToHeadStatsPage.css') }}">
<script src="{{ url_for('static', filename='javascript/headToHeadStatsPage.js') }}"></script>
<!--Script for sorting a table with class "sortable"-->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
<!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-user-friends"></i> Head to Head Stats{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="selectionsAndTable">
    <div class="yearDropdown">
        <button class="btn btn-secondary dropdown-toggle primaryButtonColors" id="selectYearButton" type="button"
                value="{{selected_year}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if selected_year == '0' %}
            All Time
            {% else %}
            {{selected_year}}
            {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for year in league.years.keys()|sort %}
            {% if year == selected_year|string %}
            {% if selected_year == '0' %}
            <a class="dropdown-item active" href="#" onclick="yearRedirect({{selected_year}}, null, null)">All Time</a>
            {% else %}
            <a class="dropdown-item active" href="#" onclick="yearRedirect({{selected_year}}, null, null)">{{selected_year}}</a>
            {% endif %}
            {% elif year == '0' %}
            <a class="dropdown-item" href="#" onclick="yearRedirect({{year}})">All Time</a>
            {% elif league.years[year].weeks|length > 0 %}
            <a class="dropdown-item" href="#" onclick="yearRedirect({{year}})">{{year}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="teamsAndVs">
        <div class="team1Dropdown" id="team1Dropdown">
            {% for team in league.years[selected_year|string].teams %}
            {% if team.teamId == given_team_1_id %}
            <button class="btn btn-secondary dropdown-toggle teamSelectButton blackText backgroundTeamId{{team.teamId}} teamDropdownButton hoverFade"
                    type="button" value={{team.teamId}} id="team1button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                {{team.teamName}}
            </button>
            {% endif %}
            {% endfor %}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for team in league.years[selected_year|string].teams %}
                {% if team.teamId == given_team_1_id %}
                <a class="dropdown-item active blackText backgroundTeamId{{team.teamId}} hoverFade" href="#"
                   onclick="yearRedirect({{selected_year}}, {{team.teamId}}, null)">{{team.teamName}}</a>
                {% else %}
                {% if not given_team_1_id %}
                <!--no ids given, exclude ID # 2 from this dropdown by default-->
                {% if team.teamId != 2 %}
                <a class="dropdown-item blackText backgroundTeamId{{team.teamId}} hoverFade" href="#"
                   onclick="yearRedirect({{selected_year}}, {{team.teamId}}, null)">{{team.teamName}}</a>
                {% endif %}
                {% else %}
                <!--ids given, exclude givenTeam2Id from this dropdown-->
                {% if team.teamId != given_team_2_id %}
                <a class="dropdown-item blackText backgroundTeamId{{team.teamId}} hoverFade" href="#"
                   onclick="yearRedirect({{selected_year}}, {{team.teamId}}, null)">{{team.teamName}}</a>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="vs">VS</div>
        <div class="team2Dropdown" id="team2Dropdown">
            {% for team in league.years[selected_year|string].teams %}
            {% if team.teamId == given_team_2_id %}
            <button class="btn btn-secondary dropdown-toggle teamSelectButton blackText backgroundTeamId{{team.teamId}} teamDropdownButton hoverFade"
                    type="button" value={{team.teamId}} id="team2button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                {{team.teamName}}
            </button>
            {% endif %}
            {% endfor %}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for team in league.years[selected_year|string].teams %}
                {% if team.teamId == given_team_2_id %}
                <a class="dropdown-item active blackText backgroundTeamId{{team.teamId}} hoverFade" href="#"
                   onclick="yearRedirect({{selected_year}}, null, {{team.teamId}})">{{team.teamName}}</a>
                {% else %}
                {% if not given_team_2_id %}
                <!--no ids given, exclude ID # 2 from this dropdown by default-->
                {% if team.teamId != 2 %}
                <a class="dropdown-item blackText backgroundTeamId{{team.teamId}} hoverFade" href="#"
                   onclick="yearRedirect({{selected_year}}, null, {{team.teamId}})">{{team.teamName}}</a>
                {% endif %}
                {% else %}
                <!--ids given, exclude givenTeam1Id from this dropdown-->
                {% if team.teamId != given_team_1_id %}
                <a class="dropdown-item blackText backgroundTeamId{{team.teamId}} hoverFade" href="#"
                   onclick="yearRedirect({{selected_year}}, null, {{team.teamId}})">{{team.teamName}}</a>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if stats_models %}
    <table class="sortable statsTable" id="headToHeadTable">
        <thead>
        <tr>
            <th>Team Name</th>
            <th>{{constants.WINS_STAT_TITLE}}</th>
            <th>{{constants.LOSSES_STAT_TITLE}}</th>
            <th>{{constants.TIES_STAT_TITLE}}</th>
            <th>{{constants.WIN_PERCENTAGE_STAT_TITLE}}</th>
            <th>{{constants.WAL_STAT_TITLE}}</th>
            <th>{{constants.AWAL_STAT_TITLE}}</th>
            <th>{{constants.AWAL_PER_GAME_STAT_TITLE}}</th>
            <th>{{constants.SMART_WINS_STAT_TITLE}}</th>
            <th>{{constants.PPG_STAT_TITLE}}</th>
            <th>{{constants.SCORING_SHARE_STAT_TITLE}}</th>
            <th>{{constants.PLUS_MINUS_STAT_TITLE}}</th>
            <th>{{constants.MAX_SCORE_STAT_TITLE}}</th>
            <th>{{constants.MIN_SCORE_STAT_TITLE}}</th>
            <th>{{constants.STDEV_STAT_TITLE}}</th>
            <th>{{constants.TEAM_SCORE_STAT_TITLE}}</th>
            <th>{{constants.TEAM_SUCCESS_STAT_TITLE}}</th>
            <th>{{constants.TEAM_LUCK_STAT_TITLE}}</th>
        </tr>
        </thead>
        <tbody>
        {% for teamStats in stats_models %}
        <tr class="backgroundTeamId{{teamStats.teamId}}">
            <td data-label="Team Name">{{teamStats.teamName}}</td>
            <td data-label="{{constants.WINS_STAT_TITLE}}">{{teamStats.wins}}</td>
            <td data-label="{{constants.LOSSES_STAT_TITLE}}">{{teamStats.losses}}</td>
            <td data-label="{{constants.TIES_STAT_TITLE}}">{{teamStats.ties}}</td>
            <td data-label="{{constants.WIN_PERCENTAGE_STAT_TITLE}}">{{teamStats.winPercentage}}</td>
            <td data-label="{{constants.WAL_STAT_TITLE}}">{{teamStats.wal}}</td>
            <td data-label="{{constants.AWAL_STAT_TITLE}}">{{teamStats.awal}}</td>
            <td data-label="{{constants.AWAL_PER_GAME_STAT_TITLE}}">{{teamStats.awalPerGame}}</td>
            <td data-label="{{constants.SMART_WINS_STAT_TITLE}}">{{teamStats.smartWins}}</td>
            <td data-label="{{constants.PPG_STAT_TITLE}}">{{teamStats.ppg}}</td>
            <td data-label="{{constants.SCORING_SHARE_STAT_TITLE}}">{{teamStats.scoringShare}}</td>
            <td data-label="{{constants.PLUS_MINUS_STAT_TITLE}}">{{teamStats.plusMinus}}</td>
            <td data-label="{{constants.MAX_SCORE_STAT_TITLE}}">{{teamStats.maxScore}}</td>
            <td data-label="{{constants.MIN_SCORE_STAT_TITLE}}">{{teamStats.minScore}}</td>
            <td data-label="{{constants.STDEV_STAT_TITLE}}">{{teamStats.stddev}}</td>
            <td data-label="{{constants.TEAM_SCORE_STAT_TITLE}}">{{teamStats.teamScore}}</td>
            <td data-label="{{constants.TEAM_SUCCESS_STAT_TITLE}}">{{teamStats.teamSuccess}}</td>
            <td data-label="{{constants.TEAM_LUCK_STAT_TITLE}}">{{teamStats.teamLuck}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- below is the structure the data will go in on mobile -->
    <div class="mobileTableSection">
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].teamName}}
            </div>
            <div class="headerValueMobile">Team Name</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].teamName}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].wins}}
            </div>
            <div class="headerValueMobile">{{constants.WINS_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].wins}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].losses}}
            </div>
            <div class="headerValueMobile">{{constants.LOSSES_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].losses}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].ties}}
            </div>
            <div class="headerValueMobile">{{constants.TIES_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].ties}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].winPercentage}}
            </div>
            <div class="headerValueMobile">{{constants.WIN_PERCENTAGE_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].winPercentage}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">{{stats_models[0].wal}}
            </div>
            <div class="headerValueMobile">{{constants.WAL_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">{{stats_models[1].wal}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].awal}}
            </div>
            <div class="headerValueMobile">{{constants.AWAL_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].awal}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].awalPerGame}}
            </div>
            <div class="headerValueMobile">{{constants.AWAL_PER_GAME_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].awalPerGame}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].smartWins}}
            </div>
            <div class="headerValueMobile">{{constants.SMART_WINS_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].smartWins}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">{{stats_models[0].ppg}}
            </div>
            <div class="headerValueMobile">{{constants.PPG_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">{{stats_models[1].ppg}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].scoringShare}}
            </div>
            <div class="headerValueMobile">{{constants.SCORING_SHARE_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].scoringShare}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].plusMinus}}
            </div>
            <div class="headerValueMobile">{{constants.PLUS_MINUS_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].plusMinus}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].maxScore}}
            </div>
            <div class="headerValueMobile">{{constants.MAX_SCORE_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].maxScore}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].minScore}}
            </div>
            <div class="headerValueMobile">{{constants.MIN_SCORE_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].minScore}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].stddev}}
            </div>
            <div class="headerValueMobile">{{constants.STDEV_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].stddev}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].teamScore}}
            </div>
            <div class="headerValueMobile">{{constants.TEAM_SCORE_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].teamScore}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].teamSuccess}}
            </div>
            <div class="headerValueMobile">{{constants.TEAM_SUCCESS_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].teamSuccess}}
            </div>
        </div>
        <div class="mobileRow">
            <div class="team1ValueMobile backgroundTeamId{{stats_models[0].teamId}}">
                {{stats_models[0].teamLuck}}
            </div>
            <div class="headerValueMobile">{{constants.TEAM_LUCK_STAT_TITLE}}</div>
            <div class="team2ValueMobile backgroundTeamId{{stats_models[1].teamId}}">
                {{stats_models[1].teamLuck}}
            </div>
        </div>
    </div>
    {% endif %}
    <script>
        setTeamDropdownWidths({{league.years[selected_year|string].teams|safe}});

    </script>
</div>
{% endblock %}