<!DOCTYPE html>
<html>
    <head>
        <title>Index Homepage</title>
        <link rel="stylesheet" href="../static/indexHomepage.css">
    </head>

    <body>
        <header>
            <div class="headerTitles">
                <div class="pageTitle">FF WEB APP</div>
                <div class="pageSubtitle">Free, In-Depth Stats for YOUR Fantasy Football League!</div>
            </div>
        </header>

        <div class="buttonSelection">
            <button class="newLeagueButton" type="button" href="#">New League</button>

            <div class="or">OR</div>

            <form class="leagueIdFormStack" method="POST">
                <input class="leagueIdInputForm" type="number" name="league_id" placeholder="League ID">
                <button class="loadLeagueButton" type="submit">Load League</button>
            </form>
        </div>
    </body>

</html>