<!DOCTYPE html>
<html>
    <head>
        <title>FF WEB APP</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/indexHomepage.css') }}">
    </head>

    <body>
        <header>
            <div class="headerTitles">
                <div class="pageTitle">FF WEB APP</div>
                <div class="pageSubtitle">Free, In-Depth Stats for YOUR Fantasy Football League!</div>
            </div>
        </header>

        <div class="errorSection">
            <div class="errorMessage">{{error_message}}</div>
        </div>

        <div class="buttonSelection">
            <form class="newLeagueFormStack" action="/newleague">
                <button class="newLeagueButton" type="submit">New League</button>
            </form>

            <div class="or">OR</div>

            <form class="leagueIdFormStack" action="/leaguehomepage" method="GET">
                <input class="leagueIdInputForm" type="number" name="league_id" id="league_id" placeholder="League ID" required min="100000" max="999999">
                <button class="loadLeagueButton" type="submit">Load League</button>
            </form>
        </div>
    </body>

</html>