{% extends "base.html" %}

{% block head %}
<title>League Stats</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/leagueStatsPage.css') }}">
<script src="{{ url_for('static', filename='javascript/leagueStatsPage.js') }}"></script>
<!--Script for sorting a table with class "sortable"-->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}

{% block pageTitle %}League Stats{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="dropdownSelectionAndTable">
        <div class="statsDropdown">
            <select class="statNameDropdown" name="league_stat" id="league_stat" onchange="submitLeagueStat()">
                {% for stat in stat_options %}
                    {% if stat == selected_stat %}
                        <option value="{{stat}}" selected>{{stat}}</option>
                    {% else %}
                        <option value="{{stat}}">{{stat}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="tableContainer">
            {% if selected_stat == "All Scores" %}
                <table class="sortable statsTable">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Team For</th>
                            <th>Team Against</th>
                            <th>Outcome</th>
                            <th>Week</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leagueStat in stats_models %}
                            <tr>
                                <td>{{leagueStat.getScore()}}</td>
                                <td>{{leagueStat.getTeamFor().getTeamName()}}</td>
                                <td>{{leagueStat.getTeamAgainst().getTeamName()}}</td>
                                <td>{{leagueStat.getOutcome()}}</td>
                                <td>{{leagueStat.getWeek()}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif selected_stat == "Margins of Victory" %}
            {% endif %}
        </div>
    </div>
{% endblock %}