{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leagueHomepage.css') }}">
<script src="{{ url_for('static', filename='javascript/leagueHomepage.js') }}"></script>
{% endblock %}

{% block pageTitle %}{{league.leagueName}}{% endblock %}

{% block pageSubtitle %}League ID: {{league._id}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="buttonStack">
    <form class="leagueStatsForm">
        <button class="stackButton" type="submit">League Stats</button>
    </form>
    <form class="teamStatsForm">
        <button class="stackButton" type="submit">Team Stats</button>
    </form>
    <form class="updateLeagueForm" action="/updateleague" method="GET">
        <input class="leagueIdHidden" type="number" name="league_id" id="league_id" value="{{league._id}}">
        <button class="stackButton" type="submit">Update League</button>
    </form>
</div>

<div class="urlExplanation">This is your League URL: Save it to get back to this page anytime!</div>

<div class="copyUrlForm">
    <input class="urlForm" type="text" name="copyLeagueUrlForm" id="copyLeagueUrlForm" value="{{league_url}}">
    <button class="copyUrlButton" type="button" onclick="copyUrl()">Copy URL</button>
</div>
{% endblock %}