{% extends "base.html" %}

{% block head %}
<title>League Stats</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/leagueStatsPage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablePagination.css') }}">
<script src="{{ url_for('static', filename='javascript/leagueStatsPage.js') }}"></script>
<!--Script for sorting a table with class "sortable"-->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
<!-- imports for table pagination -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<!-- info on table used: https://datatables.net/examples/data_sources/dom -->
{% endblock %}

{% block pageTitle %}<i class="fas fa-globe"></i> League Stats{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="dropdownSelectionAndTable">
        <div class="dropdowns">
            <div class="yearDropdown">
                <button class="btn btn-secondary dropdown-toggle primaryButtonColors" id="select_year_button" type="button" value="{{selected_year}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if selected_year == '0' %}
                        All Time
                    {% else %}
                        {{selected_year}}
                    {% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for year in league.years.keys()|sort %}
                        {% if year == selected_year %}
                            {% if selected_year == '0' %}
                                <a class="dropdown-item active" href="#" onclick="submitLeagueStat({{selected_year}}, '{{selected_stat}}')">All Time</a>
                            {% else %}
                                <a class="dropdown-item active" href="#" onclick="submitLeagueStat({{selected_year}}, '{{selected_stat}}')">{{selected_year}}</a>
                            {% endif %}
                        {% elif year == '0' %}
                            <a class="dropdown-item" href="#" onclick="submitLeagueStat('{{year}}', '{{selected_stat}}')">All Time</a>
                        {% elif league.years[year].weeks|length > 0 %}
                            <a class="dropdown-item" href="#" onclick="submitLeagueStat({{year}}, '{{selected_stat}}')">{{year}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="statDropdown">
                {% for stat in stat_options %}
                    {% if stat == selected_stat %}
                        <button class="btn btn-secondary dropdown-toggle primaryButtonColors" id="stat_selection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{stat}}
                        </button>
                    {% endif %}
                {% endfor %}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for stat in stat_options %}
                        {% if stat == selected_stat %}
                            <a class="dropdown-item active" href="#" onclick="submitLeagueStat({{selected_year}}, '{{stat}}')">{{stat}}</a>
                        {% else %}
                            <a class="dropdown-item" href="#" onclick="submitLeagueStat({{selected_year}}, '{{stat}}')">{{stat}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tableContainer">
            {% if selected_stat == "All Scores" %}
                <table class="table table-fluid compact statsTable" id="all_scores_table">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Outcome</th>
                            <th>Team For</th>
                            <th>Team Against</th>
                            <th>Week</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leagueStat in stats_models %}
                            <tr class="backgroundTeamId{{leagueStat.getTeamFor().getTeamId()}}">
                                <td>{{leagueStat.getScore()}}</td>
                                <td>{{leagueStat.getOutcome()}}</td>
                                <td>{{leagueStat.getTeamFor().getTeamName()}}</td>
                                <td>{{leagueStat.getTeamAgainst().getTeamName()}}</td>
                                <td>{{leagueStat.getWeek()}}</td>
                                <td>{{leagueStat.getYear()}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif selected_stat == "Margins of Victory" %}
                 <table class="table table-fluid statsTable compact" id="margins_of_victory_table">
                    <thead>
                        <tr>
                            <th>Margin of Victory</th>
                            <th>Team For</th>
                            <th>Team For Points</th>
                            <th>Team Against</th>
                            <th>Team Against Points</th>
                            <th>Week</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leagueStat in stats_models %}
                            <tr class="backgroundTeamId{{leagueStat.getWinningTeam().getTeamId()}}">
                                <td>{{leagueStat.getMarginOfVictory()}}</td>
                                <td>{{leagueStat.getWinningTeam().getTeamName()}}</td>
                                <td>{{leagueStat.getWinningTeamPoints()}}</td>
                                <td>{{leagueStat.getLosingTeam().getTeamName()}}</td>
                                <td>{{leagueStat.getLosingTeamPoints()}}</td>
                                <td>{{leagueStat.getWeek()}}</td>
                                <td>{{leagueStat.getYear()}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% elif selected_stat == "Winning Streaks" or selected_stat == "Losing Streaks" %}
                 <table class="table table-fluid statsTable compact" id="streaks_table">
                    <thead>
                        <tr>
                            <th>Streak</th>
                            <th>Owner</th>
                            <th>Start Date</th>
                            <th>Start Team</th>
                            <th>End Date</th>
                            <th>End Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leagueStat in stats_models %}
                            <tr class="backgroundTeamId{{leagueStat.getOwner().getTeamId()}}">
                                <td>{{leagueStat.getStreakNumber()}}</td>
                                <td>{{leagueStat.getOwner().getTeamName()}}</td>
                                <td>{{leagueStat.getStartDate()}}</td>
                                <td>{{leagueStat.getStartTeam().getTeamName()}}</td>
                                <td>{{leagueStat.getEndDate()}}</td>
                                <td>{{leagueStat.getEndTeam().getTeamName()}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
<script>
    initializeTables();
</script>
{% endblock %}