{% extends "base.html" %}

{% block head %}
<title>Stats Explained: {{selected_stat}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/statsBase.css') }}">
<script src="{{ url_for('static', filename='javascript/statsBase.js') }}"></script>
<!-- jquery script -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-book"></i> Stats Explained{% endblock %}

{% block pageSubtitle %}{{selected_stat}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="dropdownSelectionAndContent">
        <div class="statDropdown">
            <select class="statNameDropdown" name="stat_name" id="stat_name" onchange="submitStat()">
                {% for stat in stat_list %}
                    {% if stat == selected_stat %}
                        <option value="{{stat}}" selected>{{stat}}</option>
                    {% else %}
                        <option value="{{stat}}">{{stat}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="purposeDivHidden" id="purposeDivHidden">
            {{purpose_div}}
            <!-- the only purpose of this div is to hold the div we will be injecting as a string for Javascript to extract -->
        </div>
        <div class="formulaDivHidden" id="formulaDivHidden">
            {{formula_div}}
            <!-- the only purpose of this div is to hold the div we will be injecting as a string for Javascript to extract -->
        </div>
        <div class="formulaExplainedDivHidden" id="formulaExplainedDivHidden">
            {{formula_explained_div}}
            <!-- the only purpose of this div is to hold the div we will be injecting as a string for Javascript to extract -->
        </div>
        <div class="chunkMaster" id="purposeMaster">
            <div class="chunkHeader">Purpose</div>
            <div class="chunkBody" id="purposeBody">
                <!-- purpose will be injected here -->
            </div>
        </div>
        <div class="chunkMaster" id="formulaMaster">
            <div class="chunkHeader">Formula</div>
            <div class="chunkBody" id="formulaBody">
                <!-- formula will be injected here -->
            </div>
        </div>
        <div class="chunkMaster" id="formulaExplainedMaster">
            <div class="chunkHeader">Formula Explained</div>
            <div class="chunkBody" id="formulaExplainedBody">
                <!-- formula explained will be injected here -->
            </div>
        </div>
    </div>
    <script type="text/javascript">injectGraphAsDiv();</script>
{% endblock %}