{% extends "base.html" %}

{% block head %}
<title>Stats Explained: {{selected_stat}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/statsBase.css') }}">
<script src="{{ url_for('static', filename='javascript/statsBase.js') }}"></script>
<!-- jquery script -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
 <!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-book"></i> Stats Explained{% endblock %}

{% block pageSubtitle %}{{selected_stat}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="dropdownSelectionAndContent">
        <div class="statDropdown">
            <button class="btn btn-secondary dropdown-toggle primaryButtonColors" type="button" id="selected_stat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selected_stat}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for stat in stat_list %}
                    {% if stat == selected_stat %}
                        <a class="dropdown-item active" href="#" onclick="submitStat('{{stat}}')">{{stat}}</a>
                    {% else %}
                        <a class="dropdown-item" href="#" onclick="submitStat('{{stat}}')">{{stat}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="purposeDivHidden" id="purposeDivHidden">
            {{purpose_div}}
            <!-- the only purpose of this div is to hold the div we will be injecting as a string for Javascript to extract -->
        </div>
        <div class="formulaDivHidden" id="formulaDivHidden">
            {{formula_div}}
            <!-- the only purpose of this div is to hold the div we will be injecting as a string for Javascript to extract -->
        </div>
        <div class="formulaExplainedDivHidden" id="formulaExplainedDivHidden">
            {{formula_explained_div}}
            <!-- the only purpose of this div is to hold the div we will be injecting as a string for Javascript to extract -->
        </div>
        <div class="chunkMaster" id="purposeMaster">
            <div class="chunkHeader">Purpose</div>
            <hr class="statTitleLine">
            <div class="chunkBody" id="purposeBody">
                <!-- purpose will be injected here -->
            </div>
        </div>
        <div class="chunkMaster" id="formulaMaster">
            <div class="chunkHeader">Formula</div>
            <hr class="statTitleLine">
            <div class="chunkBody" id="formulaBody">
                <!-- formula will be injected here -->
            </div>
        </div>
        <div class="chunkMaster" id="formulaExplainedMaster">
            <div class="chunkHeader">Formula Explained</div>
            <hr class="statTitleLine">
            <div class="chunkBody" id="formulaExplainedBody">
                <!-- formula explained will be injected here -->
            </div>
        </div>
    </div>
    <div class="mobilePadding">
        <!-- padding the bottom for mobile-->
    </div>
    <script type="text/javascript">injectGraphAsDiv();</script>
{% endblock %}