{% extends "base.html" %}

{% block head %}
<title>Stats Explained</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/statsBase.css') }}">
<script src="{{ url_for('static', filename='javascript/statsBase.js') }}"></script>
{% endblock %}

{% block pageTitle %}Stats Explained{% endblock %}

{% block pageSubtitle %}{{selected_stat}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="dropdownSelectionAndContent">
        <div class="statDropdown">
            <select class="statNameDropdown" name="stat_name" id="stat_name" onchange="submitStat()">
                {% for stat in stat_list %}
                    {% if stat == selected_stat %}
                        <option value="{{stat}}" selected>{{stat}}</option>
                    {% else %}
                        <option value="{{stat}}">{{stat}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="chunkMaster" id="purposeMaster">
            <div class="chunkHeader">Purpose</div>
            <div class="chunkBody">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla massa sapien, sit amet interdum neque convallis nec. Nulla ut molestie tellus. Donec eu mi vitae libero lobortis dictum. Suspendisse id sapien porta ligula semper facilisis. Etiam sit amet nisl varius, congue lacus sed, tempor neque. Donec dictum mauris ex, id viverra arcu ornare et. Sed non dui est. Nulla tempor enim libero, eu egestas mi faucibus eu.
            </div>
        </div>
        <div class="chunkMaster" id="formulaMaster">
            <div class="chunkHeader">Formula</div>
            <code class="chunkBody">
                a2 + b2 = c2
            </code>
        </div>
        <div class="chunkMaster" id="formulaExplainedMaster">
            <div class="chunkHeader">Formula Explained</div>
            <div class="chunkBody">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla massa sapien, sit amet interdum neque convallis nec. Nulla ut molestie tellus. Donec eu mi vitae libero lobortis dictum. Suspendisse id sapien porta ligula semper facilisis. Etiam sit amet nisl varius, congue lacus sed, tempor neque. Donec dictum mauris ex, id viverra arcu ornare et. Sed non dui est. Nulla tempor enim libero, eu egestas mi faucibus eu.
            </div>
        </div>
    </div>
{% endblock %}