{% extends "base.html" %}

{% block head %}
<title>Team Stats</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/teamStatsPage.css') }}">
<script src="{{ url_for('static', filename='javascript/teamStatsPage.js') }}"></script>
<!--Script for sorting a table with class "sortable"-->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}

{% block pageTitle %}Team Stats{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="statsContainer">

        <table class="sortable statsTable">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Ties</th>
                    <th>Win %</th>
                    <th>PPG</th>
                    <th>% of League Scoring</th>
                    <th>PPG Against</th>
                    <th>Strength of Schedule</th>
                    <th>Plus/Minus</th>
                    <th>Max Score</th>
                    <th>Min Score</th>
                    <th>STDEV</th>
                    <th>AWAL</th>
                    <th>Team Score</th>
                    <th>Team Success</th>
                    <th>Team Luck</th>
                    <th>Smart Wins</th>
                    <th>Smart Wins Adjustment</th>
                </tr>
            </thead>
            <tbody>
                {% for teamStats in stats_models %}
                    <tr>
                        <td>{{teamStats.getTeamName()}}</td>
                        <td>{{teamStats.getWins()}}</td>
                        <td>{{teamStats.getLosses()}}</td>
                        <td>{{teamStats.getTies()}}</td>
                        <td>{{teamStats.getWinPercentage()}}</td>
                        <td>{{teamStats.getPpg()}}</td>
                        <td>{{teamStats.getPercentageOfLeagueScoring()}}</td>
                        <td>{{teamStats.getPpgAgainst()}}</td>
                        <td>{{teamStats.getStrengthOfSchedule()}}</td>
                        <td>{{teamStats.getPlusMinus()}}</td>
                        <td>{{teamStats.getMaxScore()}}</td>
                        <td>{{teamStats.getMinScore()}}</td>
                        <td>{{teamStats.getStddev()}}</td>
                        <td>{{teamStats.getAwal()}}</td>
                        <td>{{teamStats.getTeamScore()}}</td>
                        <td>{{teamStats.getTeamSuccess()}}</td>
                        <td>{{teamStats.getTeamLuck()}}</td>
                        <td>{{teamStats.getSmartWins()}}</td>
                        <td>{{teamStats.getSmartWinsAdjustment()}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}