{% extends "base.html" %}

{% block head %}
<title>Update League</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/updateLeaguePage.css') }}">
<script src="{{ url_for('static', filename='javascript/updateLeaguePage.js') }}"></script>
 <!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Add icon library -->
<script src="https://kit.fontawesome.com/e509e6f024.js" crossorigin="anonymous"></script>
{% endblock %}

{% block pageTitle %}<i class="fas fa-edit"></i> Update Your League{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<form class="inputsAndButtons" action="/update-league" method="POST">
    <div class="topForm">
        <input class="leagueNameForm form-control primaryFormColors" type="text" name="league_name" id="league_name" value="{{league.leagueName}}" placeholder="League Name" required autocomplete="off" onchange="changeMade()">
        <input class="leagueIdHidden" type="number" name="league_id" id="league_id" value="{{league._id}}">
        <input class="leagueNumberOfTeamsHidden" type="number" name="number_of_teams" id="number_of_teams" value="{{league.numberOfTeams}}">
    </div>

    <div class="middleForms">
        <div class="oddTeamForms">
        {% for team in league.teams %}
            {% if team.teamId is not divisibleby 2 %}
                <input class="teamForm backgroundTeamId{{team.teamId}}" type="text" name="team_{{team.teamId}}" id="team_{{team.teamId}}" value="{{team.teamName}}" placeholder="Team {{team.teamId}} Name" required autocomplete="off" onchange="changeMade()">
            {% endif %}
        {% endfor %}
        </div>

        <div class="evenTeamForms">
        {% for team in league.teams %}
            {% if team.teamId is divisibleby 2 %}
                <input class="teamForm backgroundTeamId{{team.teamId}}" type="text" name="team_{{team.teamId}}" id="team_{{team.teamId}}" value="{{team.teamName}}" placeholder="Team {{team.teamId}} Name" required autocomplete="off" onchange="changeMade()">
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="bottomButtons">
        <button class="saveChangesButton btn btn-warning secondaryButtonColors disabled" id="saveChangesButton" type="submit"><i class="fas fa-save"></i> Save Changes</button>
        <button class="addOrUpdateWeekButton btn btn-primary primaryButtonColors" type="button" onclick="addUpdateWeeksRedirect()"><i class="fas fa-edit"></i> Add/Update a Week</button>
        <button class="deleteLeagueButton btn btn-danger" type="button" onclick="deleteLeague()"><i class="fas fa-trash-alt"></i> Delete League</button>
    </div>
</form>
<script>clearChanges()</script>
{% endblock %}