{% extends "base.html" %}

{% block head %}
<title>Update League</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/updateLeaguePage.css') }}">
<script src="{{ url_for('static', filename='javascript/updateLeaguePage.js') }}"></script>
{% endblock %}

{% block pageTitle %}Update Your League{% endblock %}

{% block pageSubtitle %}{{league.leagueName}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<form class="inputsAndButtons" action="/update-league" method="POST">
    <div class="topForm">
        <input class="leagueNameForm" type="text" name="league_name" id="league_name" value="{{league.leagueName}}" placeholder="League Name" required autocomplete="off">
        <input class="leagueIdHidden" type="number" name="league_id" id="league_id" value="{{league._id}}">
        <input class="leagueNumberOfTeamsHidden" type="number" name="number_of_teams" id="number_of_teams" value="{{league.numberOfTeams}}">
    </div>

    <div class="middleForms">
        <div class="oddTeamForms">
        {% for team in league.teams %}
            {% if team.teamId is not divisibleby 2 %}
                <input class="teamFormOdd" type="text" name="team_{{team.teamId}}" id="team_{{team.teamId}}" value="{{team.teamName}}" placeholder="Team {{team.teamId}} Name" required autocomplete="off">
            {% endif %}
        {% endfor %}
        </div>

        <div class="evenTeamForms">
        {% for team in league.teams %}
            {% if team.teamId is divisibleby 2 %}
                <input class="teamFormEven" type="text" name="team_{{team.teamId}}" id="team_{{team.teamId}}" value="{{team.teamName}}" placeholder="Team {{team.teamId}} Name" required autocomplete="off">
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="bottomButtons">
        <button class="saveChangesButton" type="submit">Save Changes</button>
        <button class="addOrUpdateWeekButton" type="button" onclick="addUpdateWeeksRedirect()">Add/Update a Week</button>
        <button class="deleteLeagueButton" type="button" onclick="deleteLeague()">Delete League</button>
    </div>


</form>

{% endblock %}